.task {
  margin: 10px 0;
  font-size: 18px;
  display: flex;
}

.task__checkbox {
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  transform: scale(1.4);
  padding: 10px;
  margin-right: 10px;
}

.task__button {
  margin-left: auto;
}

.task__button_delete {
  border-radius: 50%;
  background: rgb(255, 179, 179);
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #f00;
}

.task__button_delete:hover {
  cursor: pointer;
  background: rgb(253, 72, 72);
  color: #000;
}